<ul class="breadcrumb">
  <li class=""><a href="{{ path('aripd_user_basket_index') }}">Alışveriş sepetim</a> <span class="divider">/</span></li>
  <li class=""><a href="{{ path('aripd_shopping_payment_list') }}">Ödeme şekli</a> <span class="divider">/</span></li>
  <li class="active">Taşıma <span class="divider">/</span></li>
  <li class="active">Adres bilgileri <span class="divider">/</span></li>
  <li class="active">Ödeme <span class="divider">/</span></li>
</ul>

<form method="post" action="{{ path('aripd_shopping_transportation_set') }}">
<table>
	<tbody>
	  {% for transportation in entity.paymentgroup.transportations %}
	  <tr>
	    <td>
	      <input type="radio" name="transportation" value="{{ transportation.id }}" {% if app.session.get('transportation') == transportation.id %}checked="checked"{% endif %} />
	    </td>
	    <td>
				{{ entityImage(transportation, 100, 100) }}
	    </td>
	    <td>
	      {{ transportation.name }}<br />
	      {{ transportation.description }}<br />
	      Taşıma ücreti:
				<span style="text-decoration: none;">{{ transportation.impactPrice|convertFormat(transportation.iso4217, app.session.get('iso4217')) }}</span>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
</table>
<div class="form-actions">
	<a class="btn" href="{{ path('aripd_shopping_payment_list') }}"><i class="icon-chevron-left"></i> {{ 'Back'|trans() }}</a>
	<button class="btn pull-right">{{ 'Continue'|trans() }} <i class="icon-chevron-right"></i></button>
</div>
</form>