{% extends 'ARIPDMobileBundle::layout.html.twig' %}

{% block body %}
<div data-role="page" id="foo" data-title="Page Foo">
	<div data-role="header" data-id="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l">Back</a>
		<h1>{{ 'Branch'|trans({}, 'ARIPDStoreBundle') }} - {{ entity.name }}</h1>
		{% include 'ARIPDMobileBundle:Default:loginout.html.twig' %}
	</div>
	<div data-role="content">
		<div>
			<img src="{{ entity.url }}">
		</div>
		<div>{{ entity.fulladdress }}</div>
		<div><a href="tel:{{ entity.phone }}">Phone: tel:{{ entity.phone }}</a></div>
		<div>{{ entity.latitude }}, {{ entity.longitude }}</div>
		<a data-ajax="false" href="{{ path('aripd_mobile_store_branch_map', {id: entity.id}) }}" data-role="button">Haritayı göster</a>
	</div>
	<div data-role="footer" data-id="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a class="ui-btn-active ui-state-persist" href="{{ path('aripd_mobile_store_branch_index') }}">{{ 'Branch'|trans({}, 'ARIPDStoreBundle') }}</a></li>
				<li><a href="{{ path('aripd_mobile_store_product_index') }}">{{ 'Menu'|trans({}, 'ARIPDMobileBundle') }}</a></li>
				<li><a href="{{ path('aripd_mobile_loyalty_index') }}">Bana özel</a></li>
				<li><a href="{{ path('aripd_mobile_default_share') }}">{{ 'Share'|trans() }}</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}