{% extends 'ARIPDAdminBundle::layout.html.twig' %}

{% block container %}
<div class="page-header">
	<h1>{{ 'User Management'|trans({}, 'ARIPDUserBundle') }}</h1>
</div>
<div class="row">
	<div class="span3 columns">
		<div class="thumbnail">
			{{ profileImage(entity, configVariable('user_user_width'), configVariable('user_user_height')) }}
		</div>
	</div>
	<div class="span6 columns">
		<form action="{{ path('aripd_admin_useruser_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
			{{ form_widget(edit_form) }}
			<div class="form-actions">
				<a class="btn" href="{{ path('aripd_admin_useruser_index') }}"><i class="icon-chevron-left"></i> {{ 'Back'|trans() }}</a>
				<button class="btn btn-danger" type="button" onclick="deleteRecord();"><i class="icon-trash"></i> {{ 'Delete'|trans() }}</button>
				<button class="btn btn-primary" data-loading-text="{{ 'Loading...'|trans() }}" type="submit"><i class="icon-ok"></i> {{ 'Save'|trans() }}</button>
			</div>
		</form>
		<form id="delete_form" action="{{ path('aripd_admin_useruser_delete', { 'id': entity.id }) }}" method="post">
			{{ form_widget(delete_form) }}
		</form>
	</div>
</div>
{% endblock %}