{% extends 'ARIPDAdminBundle::layout.html.twig' %}

{% block container %}
<div class="page-header">
	<h1>{{ 'forums'|trans() }}</h1>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Iso639</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr>
			<td>{{ entity.name }}</td>
			<td>{{ entity.iso639.name }}</td>
			<td>
				<div class="btn-group">
					<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="{{ path('aripd_admin_forum_topic_show', { id: entity.id }) }}"><i class="icon-pencil"></i> {{ 'Show'|trans() }}</a></li>
						<li><a href="{{ path('aripd_admin_forum_topic_edit', { id: entity.id }) }}"><i class="icon-edit"></i> {{ 'Edit'|trans() }}</a></li>
						<li><a href="{{ path('aripd_admin_forum_topic_delete', { id: entity.id }) }}"><i class="icon-trash"></i> {{ 'Delete'|trans() }}</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="form-actions">
	<a class="btn" href="{{ path('aripd_admin_forum_topic_new') }}">{{ 'New entry'|trans() }}</a>
</div>
{% endblock %}