{% extends 'ARIPDAdminBundle::layout.html.twig' %}

{% block container %}
<ul class="breadcrumb">
	<li><a href="{{ path('aripd_admin_default_index') }}">{{ 'Dashboard'|trans({}, 'ARIPDAdminBundle') }}</a> <span class="divider">/</span></li>
	<li class="active">{{ 'Store Management'|trans({}, 'ARIPDStoreBundle') }} <span class="divider">/</span></li>
	<li><a href="{{ path('aripd_admin_storeproduct_index') }}">{{ 'Products'|trans({}, 'ARIPDStoreBundle') }}</a> <span class="divider">/</span></li>
	<li class="active">{{ 'New entry'|trans() }}</li>
</ul>
<form action="{{ path('aripd_admin_storeproduct_create') }}" method="POST" {{ form_enctype(form) }}>
	<div class="row-fluid">
		<div class="span8">
			{{ form_widget(form.code, {attr: {class: 'span12', placeholder: 'Product Code'|trans({}, 'ARIPDStoreBundle') }}) }}
			{{ form_widget(form.name, {attr: {class: 'span12', placeholder: 'Product Name'|trans({}, 'ARIPDStoreBundle') }}) }}
			{{ form_widget(form.description, {attr: {class: 'span12', placeholder: 'Product Identifier Text'|trans({}, 'ARIPDStoreBundle') }}) }}
			{{ form_widget(form.video, {attr: {class: 'span12', placeholder: 'Video embed code'|trans({}, 'ARIPDStoreBundle') }}) }}
			{{ form_row(form.content, {attr: {class: 'redactor span12'}}) }}
			{{ form_row(form.publishedAt, { label: 'Published At'|trans({}, 'ARIPDStoreBundle') }) }}
		</div>
		<div class="span4">
			<div class="bs-docs-example" data-content="Gösterim">
				<p>{{ form_widget(form.approved) }} {{ 'Is it approved?'|trans({}, 'ARIPDStoreBundle') }}</p>
				<p>{{ form_widget(form.vitrine) }} {{ 'Do you want to exhibit in the showcase?'|trans({}, 'ARIPDStoreBundle') }}</p>
				<p>{{ form_widget(form.brandnew) }} {{ 'Is it a new product?'|trans({}, 'ARIPDStoreBundle') }}</p>
			</div>
			<div class="bs-docs-example" data-content="Etiketler">
				<ul class="unstyled tags" data-prototype="{{ form_widget(form.tags.vars.prototype) | e }}">
					{% for tag in form.tags %}
					<li>{{ form_row(tag.name) }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="bs-docs-example" data-content="Diğer">
				{{ form_rest(form) }}
			</div>
		</div>
	</div>
	
	<div class="form-actions">
		<a class="btn" href="{{ path('aripd_admin_storeproduct_index') }}"><i class="icon-chevron-left"></i> {{ 'Back'|trans() }}</a>
		<button class="btn btn-primary" data-loading-text="{{ 'Loading...'|trans() }}" type="submit">{{ 'Create'|trans() }}</button>
	</div>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
//Get the div that holds the collection of tags
var collectionHolder = $('ul.tags');

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link">{{ 'Add Tag'|trans({}, 'ARIPDStoreBundle') }}</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
	// add a delete link to all of the existing tag form li elements
	collectionHolder.find('li').each(function() {
		addTagFormDeleteLink($(this));
	});

	// add the "add a tag" anchor and li to the tags ul
	collectionHolder.append($newLinkLi);

	$addTagLink.on('click', function(e) {
		// prevent the link from creating a "#" on the URL
		e.preventDefault();

		// add a new tag form (see next code block)
		addTagForm(collectionHolder, $newLinkLi);
	});
});

function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

    // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">{{ 'Remove'|trans({}, 'ARIPDStoreBundle') }}</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}