<form class="form-search" action="{{ path('aripd_admin_crm_individual_index') }}" method="POST" {{ form_enctype(form) }}>
	<div class="input-append">
		{{ form_widget(form.name, { attr: { 'class': 'span2 search-query', 'placeholder': 'label.search.individual'|trans() }}) }}
		<button class="btn btn-primary" data-loading-text="{{ 'Loading...'|trans() }}" type="submit"><i class="icon-search"></i> {{ 'Search'|trans() }}</button>
	</div>
	{{ form_rest(form) }}
</form>
