{% extends 'ARIPDMobileBundle::layout.html.twig' %}

{% block body %}
<div data-role="page" id="foo" data-title="Page Foo">
	<div data-role="header" data-id="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l">Back</a>
		<h1>{{ 'Postal Address'|trans({}, 'ARIPDUserBundle') }}</h1>
		{% include 'ARIPDMobileBundle:Default:loginout.html.twig' %}
	</div>
	<div data-role="content">
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Search" data-filter-theme="d" data-theme="d" data-divider-theme="d">
			{% for entity in entities %}
			<li>
				<a href="{{ path('aripd_mobile_user_postaladdress_show', {id: entity.id}) }}">
					<h3>{{ entity.name }}</h3>
					<p>{{ entity.fulladdress }}</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div data-role="footer" data-id="footer" data-position="fixed">
		<a href="{{ path('aripd_mobile_user_postaladdress_new') }}">Yeni kayıt</a>
	</div>
</div>
{% endblock %}