{% extends 'ARIPDMobileBundle::layout.html.twig' %}

{% block body %}
<div data-role="page" id="foo" data-title="Page Foo">
	<div data-role="header" data-id="header" data-position="fixed">
		<a data-rel="back" data-icon="arrow-l">Back</a>
		<h1>{{ 'Postal Address'|trans({}, 'ARIPDUserBundle') }}</h1>
		{% include 'ARIPDMobileBundle:Default:loginout.html.twig' %}
	</div>
	<div data-role="content">
		<ul>
			<li>{{ entity.name }}</li>
			<li>{{ entity.fulladdress }}</li>
			<li>
				<a href="{{ path('aripd_mobile_user_postaladdress_edit', { id: entity.id }) }}">Düzenle</a>
			</li>
		</ul>
		<form action="{{ path('aripd_mobile_user_postaladdress_delete', { 'id': entity.id }) }}" method="post">
			{{ form_widget(delete_form) }}
			<div class="form-actions">
				<a class="btn" href="{{ path('aripd_mobile_user_postaladdress_index') }}"><i class="icon-chevron-left"></i> {{ 'Back'|trans() }}</a>
				<a class="btn" href="{{ path('aripd_mobile_user_postaladdress_edit', { id: entity.id }) }}"><i class="icon-edit"></i> {{ 'Edit'|trans() }}</a>
				<button class="btn btn-danger" type="submit"><i class="icon-trash"></i> {{ 'Delete'|trans() }}</button>
			</div>
		</form>
	</div>
	<div data-role="footer" data-id="footer" data-position="fixed">
		<a href="{{ path('aripd_mobile_user_postaladdress_edit', { id: entity.id }) }}">Düzenle</a>
	</div>
</div>
{% endblock %}