<div class="row-fluid">
	<div id="brandnew" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
				<ul class="thumbnails">
					{% for entity in entities %}
					<li class="span3">
						<div class="thumbnail">
							{% if false %}<i class="tag"></i>{% endif %}
							<a href="{{ path('aripd_store_model_show', { id: entity.model.id, code: entity.model.code, slug: entity.slug }) }}">
								<img src="{{ entity.model.image.url }}" alt="{{ entity.name }}"/>
							</a>
							<div class="caption">
								<h5>{{ entity.name }}</h5>
								<h4>
									<a class="btn" href="{{ path('aripd_store_model_show', { id: entity.model.id, code: entity.model.code, slug: entity.slug }) }}">{{ 'Show'|trans() }}</a>
									<span class="pull-right">{{ entity.model.price|convertFormat(entity.model.iso4217, app.session.get('iso4217')) }}</span>
								</h4>
							</div>
						</div>
					</li>
					{% if loop.index%4 == 0 and false == loop.last %}
				</ul>
			</div>
			<div class="item">
				<ul class="thumbnails">
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<a class="left carousel-control" href="#brandnew" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#brandnew" data-slide="next">&rsaquo;</a>
	</div>
</div>