<ul class="thumbnails">
	{% for entity in entities %}
	<li class="span3">
		<div class="thumbnail">
			<i class="tag"></i>
			<a href="{{ path('aripd_store_model_show', { id: entity.model.id, code: entity.model.code, slug: entity.slug }) }}">
				<img src="{{ entity.model.image.url }}" alt="{{ entity.name }}"/>
			</a>
			<div class="caption">
				<h5>{{ entity.name }}</h5>
				<h4>
					<a class="btn btn-large" href="{{ path('aripd_store_model_show', { id: entity.model.id, code: entity.model.code, slug: entity.slug }) }}">{{ 'Show'|trans() }}</a>
					<span class="pull-right">{{ entity.model.price|convertFormat(entity.model.iso4217, app.session.get('iso4217')) }}</span>
				</h4>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>