{% extends 'ARIPDMobileBundle::layout.html.twig' %}

{% block body %}
<div data-role="page" id="foo" data-title="Page Foo">
	<div data-role="header" data-id="header" data-position="fixed">
		<a href="{{ path('aripd_mobile_default_index') }}" data-icon="home">{{ 'Home'|trans() }}</a>
		<h1>{{ 'Menu'|trans({}, 'ARIPDMobileBundle') }}</h1>
		{% include 'ARIPDMobileBundle:Default:loginout.html.twig' %}
	</div>
	<div data-role="content">
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Search products..." data-filter-theme="d" data-theme="d" data-divider-theme="d">
			{% for category in entities %}
			<li data-role="list-divider">{{ category.name }}</li>
			{% for product in category.products %}
			<li>
				<a data-transition="slide" href="{{ path('aripd_mobile_store_model_show', { id: product.model.id, slug: product.model.slug }) }}">
					<img alt="" src="{{ product.model.image.url }}"/>
					<h3>{{ product.name }} &raquo; {{ product.model.price }}</h3>
					<p>{{ product.description }}</p>
				</a>
			</li>
			{% endfor %}
			{% endfor %}
		</ul>
	</div>
	<div data-role="footer" data-id="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="{{ path('aripd_mobile_store_branch_index') }}">{{ 'Branch'|trans({}, 'ARIPDStoreBundle') }}</a></li>
				<li><a class="ui-btn-active ui-state-persist" href="{{ path('aripd_mobile_store_product_index') }}">{{ 'Menu'|trans({}, 'ARIPDMobileBundle') }}</a></li>
				<li><a href="{{ path('aripd_mobile_loyalty_index') }}">Bana özel</a></li>
				<li><a href="{{ path('aripd_mobile_default_share') }}">{{ 'Share'|trans() }}</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}