<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	{{ form_widget(form) }}
	<div class="form-actions">
		<button class="btn" data-loading-text="{{ 'Loading...'|trans() }}" type="submit"><i class="icon-lock"></i> {{ 'Change password'|trans({}, 'ARIPDUserBundle') }}</button>
	</div>
</form>
