{% extends "::base.html.twig" %}

{% block title %}{{ 'Reset password'|trans({}, 'ARIPDUserBundle') }}{% endblock title %}

{% block container %}
<div id="mainBody">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="{{ path('aripd_default_index') }}">{{ 'Home'|trans() }}</a> <span class="divider">/</span></li>
					<li class="active">{{ 'Reset password'|trans({}, 'ARIPDUserBundle') }}</li>
				</ul>
				<p>{{ 'The password for this user has already been requested within the last 24 hours.'|trans({}, 'ARIPDUserBundle') }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}