{% extends 'ARIPDMobileBundle::layout.html.twig' %}

{% block body %}
<div data-role="page" id="foo" data-title="Page Foo">
	<div data-role="header" data-id="header" data-position="fixed">
		<a href="{{ path('aripd_mobile_default_index') }}" data-icon="home">{{ 'Home'|trans() }}</a>
		<h1>{{ 'Home'|trans() }}</h1>
		{% include 'ARIPDMobileBundle:Default:loginout.html.twig' %}
	</div>
	<div data-role="content">
		<div data-role="controlgroup">
			<a href="mailto:?subject=Deneme&body=İçerik" data-role="button">E-mail</a>
			<a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}" data-role="button">Facebook</a>
			<a href="http://twitter.com/share?text={{ configVariable('app_name') }}&url={{ app.request.uri }}" data-role="button">Twitter</a>
		</div>
	</div>
	<div data-role="footer" data-id="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="{{ path('aripd_mobile_store_branch_index') }}">{{ 'Branch'|trans({}, 'ARIPDStoreBundle') }}</a></li>
				<li><a href="{{ path('aripd_mobile_store_product_index') }}">{{ 'Menu'|trans({}, 'ARIPDMobileBundle') }}</a></li>
				<li><a href="{{ path('aripd_mobile_loyalty_index') }}">Bana özel</a></li>
				<li><a class="ui-btn-active ui-state-persist" href="{{ path('aripd_mobile_default_share') }}">{{ 'Share'|trans() }}</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}