{% extends 'ARIPDAdminBundle::layout.html.twig' %}

{% block container %}
<div class="page-header">
	<h1>{{ 'Pages'|trans({}, 'ARIPDCMSBundle') }}</h1>
</div>
<form action="{{ path('aripd_admin_cms_page_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_row(form.name, {attr: {class: 'span9'}}) }}
	{{ form_row(form.description, {attr: {class: 'span9'}}) }}
	{{ form_row(form.content, {attr: {class: 'redactor span9'}}) }}
	{{ form_rest(form) }}
	<div class="form-actions">
		<a class="btn" href="{{ path('aripd_admin_cms_page_index') }}"><i class="icon-chevron-left"></i> {{ 'Back'|trans() }}</a>
		<button class="btn btn-primary" data-loading-text="{{ 'Loading...'|trans() }}" type="submit">{{ 'Create'|trans() }}</button>
	</div>
</form>
{% endblock %}