{% extends 'ARIPDAdminBundle::layout.html.twig' %}

{% block container %}
<div class="page-header">
	<h1>{{ 'Search Results'|trans({}, 'ARIPDCRMBundle') }}</h1>
</div>
<ul class="unstyled">
	<li>
		{{ profileImage(entity, configVariable('user_user_width'), configVariable('user_user_height')) }}
	</li>
	<li>{{ entity.fullname }}</li>
	<li>{{ entity.email }}</li>
	<li>{{ entity.mobile }}</li>
	<li><a class="btn" href="{{ path('aripd_admin_crm_loyalty_confirm', { token: token }) }}">{{ 'Confirm'|trans() }}</a></li>
	<li>
		buraya puan eksiltecek form oluştur. puan karşılığı satış.
	</li>
</ul>
{% endblock %}