<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Code</th>
			<th>Forexbuying</th>
			<th>Forexselling</th>
			<th>Banknotebuying</th>
			<th>Banknoteselling</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr>
			<td><a href="{{ path('aripd_admin_fxrate_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
			<td>{% if entity.date %}{{ entity.date|localizeddate('short', 'medium') }}{% endif %}</td>
			<td>{{ entity.iso4217.code }}</td>
			<td>{{ entity.forexBuying }}</td>
			<td>{{ entity.forexSelling }}</td>
			<td>{{ entity.banknoteBuying }}</td>
			<td>{{ entity.banknoteSelling }}</td>
			<td>
				<div class="btn-group">
					<a class="btn btn-mini" href="{{ path('aripd_admin_fxrate_show', { 'id': entity.id }) }}">{{ 'Show'|trans() }}</a>
					<a class="btn btn-mini" href="{{ path('aripd_admin_fxrate_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> {{ 'Edit'|trans() }}</a>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="form-actions">
	<a class="btn" href="{{ path('aripd_admin_fxrate_new') }}">{{ 'New entry'|trans() }}</a>
</div>