{% extends 'ARIPDAdminBundle::layout.html.twig' %}

{% block container %}
<div class="page-header">
	<h1>{{ 'Taxonomy'|trans() }}</h1>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Rate</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr>
			<td><a href="{{ path('aripd_admin_taxonomy_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
			<td>{{ entity.name }}</td>
			<td>{{ entity.rate }}</td>
			<td>
				<div class="btn-group">
					<a class="btn btn-mini" href="{{ path('aripd_admin_taxonomy_show', { 'id': entity.id }) }}">{{ 'Show'|trans() }}</a>
					<a class="btn btn-mini" href="{{ path('aripd_admin_taxonomy_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> {{ 'Edit'|trans() }}</a>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="form-actions">
	<a class="btn" href="{{ path('aripd_admin_taxonomy_new') }}">{{ 'New entry'|trans() }}</a>
</div>
{% endblock %}