{% extends 'ARIPDAdminBundle::layout.html.twig' %}

{% block container %}
<div class="page-header">
	<h1>{{ 'themes'|trans() }}</h1>
</div>
<ul class="nav nav-pills">
	{% for theme in themes %}
	<li class="{% if theme.getRelativePathname() == theme_active.name %}active{% endif %}"><a href="{{ path('aripd_admin_appearance_theme_show', {theme: theme.getRelativePathname()}) }}">{{ theme.getRelativePathname() }}</a></li>
	{% endfor %}
</ul>

<hr>

{{ render(controller('ARIPDAdminBundle:AppearanceTheme:filemanager', { theme: theme_active.name })) }}

<hr>

{% for file in theme_active.views %}
{% if (app.request.get('file') is empty and loop.first) or (app.request.get('file') == file.getRelativePathname()) %}
<span class="label label-info">{{ file.getRelativePathname() }}</span>
<form method="POST" action="{{ path('aripd_admin_appearance_theme_write', {theme: theme_active.name, file: file.getRelativePathname()}) }}">
	<textarea name="content" class="span9 theme_editor">{{ file.getContents() }}</textarea>
	<div class="form-actions">
		<button class="btn" type="submit">{{ 'Save'|trans() }}</button>
	</div>
</form>
{% endif %}
{% endfor %}

<div class="alert alert-info">Tema dosyaları</div>
<div class="well">
	<ul class="unstyled">
		{% for file in theme_active.views %}
		<li><a href="{{ path('aripd_admin_appearance_theme_show', {theme: theme_active.name, file: file.getRelativePathname()}) }}">{{ file.getRelativePathname() }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="alert alert-info">Tüm dosyalar</div>
<div class="well">
	<ul class="unstyled">
		{% for file in theme_active.files %}
		<li><a href="{{ path('aripd_admin_appearance_theme_show', {theme: theme_active.name, file: file.getRelativePathname()}) }}">{{ file.getRelativePathname() }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}